<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME/ YOUR ACTIVITIES</title>
  </head>
  <body>
<h1>HERE ARE YOUR JSON ACTIVITIES</h1>
{{#activities}}
<h3>{{name}}</h3>
{{/activities}}

  </body>
</html>
